<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <style>
        p{
            font-size: 1.3em;
        }
    </style>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Inventory Information</h1>
    </div>

    <table>
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Category
                </th>
                <th>
                    Status
                </th>
                <th>
                    Location
                </th>
                <th>
                    Date
                </th>

            </tr>
        </thead>
        <tbody>
            <% items.forEach((item) => { %>
            <tr>
                <td>
                    <%= item.id %>
                </td>
                <td>
                    <%= item.name %>
                </td>
                <td>
                    <%= item.category %>
                </td>
                <td>
                    <%= item.status %>
                </td>
                <td>
                    <%= item.location %>
                </td>
                <td>
                    <%= item.date %>
                </td>
                <td>
                    <a href="/edit?_id=<%= item._id %>" id="update_btn">Edit
                </td>
                <td>
                    <a href="/delete?_id=<%= item._id %>" id="update_btn">Delete
                </td>
            </tr>
            <input type="hidden" name="id" value="<%= item._id %>">
            <%} )%>
        </tbody>
    </table>


    
    <a href="/" role="button"><i>Back to homepage</i></a>
</body>
</html>

