<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Inventory Information</title>
    <style>
    label{
        font-size: 1.3em;
    }
    p{
        font-size: 1.3em;
    }
    </style>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Update Inventory Information</h1>
    </div>
    <form action="/update" method="POST">

    <label for="inventoryID" value="item.inventoryID"><b>Restaurant ID*: <%= item.inventoryID %></b></label><br><br>
    
    <input type="hidden" id="postId" name="postId" value="<%= item.inventoryID %>" />
     
    <label for="name"><b>Inventory Name*:</b></label>
    <input type="text" id="name" name="name" class="form-control" placeholder="" value= "<% if (item.name) { %><%= item.name %><% } %>" /><br><br>
                
    <label for="category"><b>Category:</b></label>
    <input type="text" id="category" name="category" class="form-control" placeholder="" value ="<% if (item.category) { %><%= item.category %><% } %>" /><br><br>

    <label for="status"><b>Status:</b></label>
    <input type="text" id="status" name="status" class="form-control" placeholder="" value ="<% if (item.status) { %><%= item.status %><% } %>" /><br><br>
                
    <label for="location"><b>Location:</b></label>
    <input type="text" id="location" name="location" class="form-control" placeholder="" value ="<% if (item.location) { %><%= item.location %><% } %>"/> <br><br>
                
    <label for="date"><b>Date:</b></label>
    <input type="text" id="date" name="date" class="form-control" placeholder="" value = "<% if (item.date) { %><%= item.date %><% } %>" /><br><br>
                
    <label for="remark"><b>Remark:</b></label><br>
    <textarea name="remark" cols="50" rows="10" placeholder="" value = "<% if (item.remark) { %><%= item.remark %><% } %>" /></textarea><br>

    <input type="submit" value="update">
    <br><br>
    <a href="/" role="button"><i>Back to homepage</i></a>
</html>

