<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Inventory Information</title>
    <style>
    label{
        font-size: 1.3em;
    }
    p{
        font-size: 1.3em;
    }
    </style>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Update Inventory Information</h1>
    </div>
    <form action="/update" method="POST">

    <!-- <label for="inventoryID" value="item.inventoryID"><b>Restaurant ID*: <%= item.inventoryID %></b></label><br><br>
    
    <input type="hidden" id="postId" name="postId" value="<%= item.inventoryID %>" />
     
    <label for="name"><b>Inventory Name*:</b></label>
    <input type="text" id="name" name="name" class="form-control" placeholder="" value= "<% if (item.name) { %><%= item.name %><% } %>" /><br><br>
                
    <label for="category"><b>Category:</b></label>
    <input type="text" id="category" name="category" class="form-control" placeholder="" value ="<% if (item.category) { %><%= item.category %><% } %>" /><br><br>

    <label for="status"><b>Status:</b></label>
    <input type="text" id="status" name="status" class="form-control" placeholder="" value ="<% if (item.status) { %><%= item.status %><% } %>" /><br><br>
                
    <label for="location"><b>Location:</b></label>
    <input type="text" id="location" name="location" class="form-control" placeholder="" value ="<% if (item.location) { %><%= item.location %><% } %>"/> <br><br>
                
    <label for="date"><b>Date:</b></label>
    <input type="text" id="date" name="date" class="form-control" placeholder="" value = "<% if (item.date) { %><%= item.date %><% } %>" /><br><br>
                
    <label for="remark"><b>Remark:</b></label><br>
    <textarea name="remark" cols="50" rows="10" placeholder="" value = "<% if (item.remark) { %><%= item.remark %><% } %>" /></textarea><br>

    <input type="submit" value="update"> -->
    <input type="hidden" name="_id" value="<%= item._id %>">
    <div class="mb-3">
        <label for="id" class="form-label">Inventory ID</label>
        <input type="text" id="id" name="id" class="form-control" placeholder="Inventory ID">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Inventory Name</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Inventory Name">
    </div>
    
    <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input type="text" id="category" name="category" class="form-control" placeholder="Category">
    </div>
    <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <input type="text" id="status" name="status" class="form-control" placeholder="Status">
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input type="text" id="location" name="location" class="form-control" placeholder="Location">
    </div>

    <div class="mb-3">
      <label for="date" class="form-label">Date</label>
      <input type="text" id="date" name="date" class="form-control" placeholder="date">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <br><br>
    <a href="/" role="button"><i>Back to homepage</i></a>
</html>

