<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Inventory Information</title>
    <style>
    label{
        font-size: 1.3em;
    }
    p{
        font-size: 1.3em;
    }
    </style>
</head>
<body>
    <% docs.forEach((item) => { %>
    <div class="jumbotron text-center">
        <h1>Update Inventory Information</h1>
    </div>
    <form action="/edit" method="POST">

    <input type="hidden" class="form-control" name="_id" value="<%= item._id %>">
    <div>
        <label for="id" class="form-label">Inventory ID</label>
        <input type="text" id="id" name="id" class="form-control" placeholder="Inventory ID" value="<%= item.id %>">
    </div>
    <div>
        <label for="name" class="form-label">Inventory Name</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Inventory Name" value="<%= item.name %>">
    </div>
    
    <div>
        <label for="category" class="form-label">Category</label>
        <input type="text" id="category" name="category" class="form-control" placeholder="Category" value="<%= item.category %>">
    </div>
    <div>
        <label for="status" class="form-label">Status</label>
        <input type="text" id="status" name="status" class="form-control" placeholder="Status" value="<%= item.status %>">
    </div>

    <div >
      <label for="location" class="form-label">Location</label>
      <input type="text" id="location" name="location" class="form-control" placeholder="Location" value="<%= item.location %>">
    </div>

    <div>
      <label for="date" class="form-label">Date</label>
      <input type="text" id="date" name="date" class="form-control" placeholder="date" value="<%= item.date %>">
    </div>
    <%} )%>
    <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <br><br>
    <a href="/" role="button"><i>Back to homepage</i></a>
</html>

